*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(4,9,30,0.8)),url(./pexels-mike-190574.jpg);
  background-position: center;
  background-size: cover;
}
nav{
  display: flex;
  padding:1.5% 6%;
  justify-content: space-between;
  align-items: center;
}
.logo{
  text-decoration: none;
  color:#00d5e4;
  font-size: medium;
}
.nav-links{
  flex:1;
  text-align: right;

}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 0px 12px;
}

.nav-links ul li a{
   color:#CCD6F6;
   text-decoration: none;
}
.fade-in{
    position:relative;
    display:inline-block;
    top: -15px;
    opacity: 0;
}
.fade-in.active2{
    top:0;
    opacity:1;
    transition: ease-in-out 0.3s; 
}

.fade-in2{
    position:relative;
    display:inline-block;
    bottom: -40px;
    opacity: 0;
    list-style: none;
}
.fade-in2.active2{
    bottom:0;
    opacity:1;
    transition: ease-in-out 0.5s; 
}
.nav-links ul li::after{
   content: '';
   width:0%;
   height:2px;
   background: rgba(255, 112, 3, 0.981);
   display: block;
   margin: auto;
   transition: 0.3s;
}

.nav-links ul li:hover::after{
   width:100%;
}
.logo::after{
   content: '';
   width:0%;
   height:2px;
   background:#00d5e4;
   display: block;
   margin: auto;
   transition: 0.3s;
}
.logo:hover::after{
   width:100%;
}
.textbox{
  width:90%;
  color:#fff;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
#l1{
  animation: fill 0.8s ease forwards 3s;
  max-height: 132px;
  max-width: 561px;
}
#l1 path:nth-child(1){
  stroke-dasharray: 346px;
  stroke-dashoffset: 346px;
  animation: line-anim 2s ease forwards;
}
#l1 path:nth-child(2){
  stroke-dasharray: 565.949px;
  stroke-dashoffset: 565.949px;
  animation: line-anim 2s ease forwards 0.3s;
}
#l1 path:nth-child(3){
  stroke-dasharray: 549.066px;
  stroke-dashoffset: 549.066px;
  animation: line-anim 2s ease forwards 0.6s;
}
#l1 path:nth-child(4){
  stroke-dasharray: 634.14px;
  stroke-dashoffset: 634.14px;
  animation: line-anim 2s ease forwards 0.9s;
}
#l1 path:nth-child(5){
  stroke-dasharray: 483.892px;
  stroke-dashoffset: 483.892px;
  animation: line-anim 2s ease forwards 1.2s;
}
#l1 path:nth-child(6){
  stroke-dasharray: 463.968px;
  stroke-dashoffset: 463.968px;
  animation: line-anim 2s ease forwards 1.5s;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fill{
  from{
    fill : transparent;
  }
  to{
    fill:#f57600;
  }
}

.image{
    background: no-repeat;
    width: 23px;
    height: 23px;
}

.social{
    position:fixed;
    bottom: 150px;
    right: 2vh;
    left:auto;
    width:40px;
    display: flex;
    flex-direction: vertical;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.social ul li{
    padding: 12px 12px;
    vertical-align: middle;
}
#twitterlink{
    color:#CCD6F6;
}
#test{
    transition-duration: 250ms;
}
#test:hover {
    color: #64FFDA;
    transform: scale(1.2);
    transition-duration: 250ms;
}
/*
.social ul li{
    list-style: none;
}*/
.line{
    position:fixed;
    bottom: 0;
    right:1.75vh;
    margin-right: 20px;
    width:1px;
    height:130px;
    
    background-color:#CCD6F6;
    z-index: 12345;
}
@media(max-width: 750px){
	#l1 path{
		width: 56;height:13;
	}
	.textbox{
		padding: 15vw;
	}
	.nav-links{
		display: none;
		/*color: #f57600;*/
	}
}